<form class="grid">
  <mat-label><h3>CRYPT/DECRYPT</h3></mat-label>

<mat-divider class="blue" style="margin-bottom: 1rem;"></mat-divider>


<mat-form-field>
  <mat-label>Base64 - AES IV</mat-label>
  <input matInput placeholder="Ex. GtjZ4+YnwCgs3diN6+kcFw==" [(value)]="iv" (change)="iv = $event.target.value" />
</mat-form-field>

<mat-form-field>
  <mat-label>Base64 - AES KEY</mat-label>
  <input matInput placeholder="Ex. E3IJcCIheoIGfKLOFKL30nlgCbZVJEv0FMNF2XHMp5A=" [(value)]="key" (change)="key = $event.target.value"/>
</mat-form-field>

<mat-divider class="blue" style="margin-bottom: 2rem;"></mat-divider>

  <mat-form-field>
    <mat-label>Input</mat-label>
    <input
      matInput
      placeholder="Ex. ?nome=mario&cognome=rossi"
      [value]="input"
      (change)="input = $event.target.value"
    />
  </mat-form-field>

  <div style="display: inline;">
    <button
      mat-raised-button
      type="button"
      color="primary"
      style="max-width: 10rem"
      (click)="encrypt()"
    >
      Encrypt
    </button>
    <button
      mat-raised-button
      type="button"
      color="primary"
      style="margin-left: 2rem; max-width: 10rem"
      (click)="decrypt()"
    >
      Decrypt
    </button>
  </div>
  <mat-list style="margin-top: 2rem;">
    <mat-label>Output</mat-label>
    <mat-divider></mat-divider>
    <mat-list-item>{{ output }}</mat-list-item>
  </mat-list>
</form>
