<form class="example-form">
  <mat-form-field appearance="fill" style="margin-bottom: 2rem">
    <mat-label><b>Enable Crypto</b></mat-label>
    <mat-select [(value)]="enableCrypto">
      <mat-option
        *ngFor="let i of [true,false]"
        [value]="i"
      >
        {{ i }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>AES IV</mat-label>
    <input matInput placeholder="Ex. fa2RQ3rqr=" [(value)]="iv" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>AES KEY</mat-label>
    <input matInput placeholder="Ex. asd23rFSw=" [(value)]="key" />
  </mat-form-field>

  <mat-form-field appearance="fill" style="margin-top: 2rem">
    <mat-label>Request Type</mat-label>
    <mat-select [(value)]="requestType">
      <mat-option
        *ngFor="let i of requestTypes"
        [value]="i"
      >
        {{ i }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Endpoint Url</mat-label>
    <input
      matInput
      placeholder="Ex. http://localhost:8080/testfilter/test"
      [(value)]="url"
    />
  </mat-form-field>

  <mat-form-field *ngIf="isPostOrPut==true" >
    <mat-label>Input Body</mat-label>
    <textarea
      style="min-height: 150px"
      matInput
      placeholder="Ex. JSON body"
      [(value)]="request"
      (change)="request = $event.target.value"
    ></textarea>
  </mat-form-field>

  <mat-form-field *ngIf="isPostOrPut==false" >
    <mat-label>Query String</mat-label>
    <input
    matInput
    placeholder="Ex. ?nome=mario&cognome=rossi"
    [value]="queryString"
    (change)="queryString = $event.target.value"
    />
  </mat-form-field>
  <mat-form-field *ngIf="isPostOrPut==false" >
    <mat-label>Input HttpParmas</mat-label>
    <textarea
      style="min-height: 150px"
      matInput
      placeholder="Ex. JSON HttpParmas"
      [(value)]="httpParmas"
      (change)="httpParmas = $event.target.value"
    ></textarea>
  </mat-form-field>

  <div class="row">
    <div class="cell">
      <button
        mat-raised-button
        type="button"
        color="primary"
        style="margin-top: 3.5rem; max-width: 10rem"
        (click)="doRequest()"
      >
        Do Request
      </button>
    </div>
    <div class="cell">
      <mat-spinner *ngIf="showSpinner" diameter="30" style="margin-left: 50px;"></mat-spinner>
    </div>
  </div>


  <mat-list style="margin-top: 3rem;">
    <mat-divider class="blue"></mat-divider>
    <mat-label><h3>DEBUG</h3></mat-label>

    <mat-divider class="blue" style="margin-bottom:2rem;"></mat-divider>
    <mat-label><h4>Request</h4></mat-label>

    <mat-label style="margin-top: 0.2rem;">Encrypted Request AES {{(isPostOrPut?'Body':'Url')}}</mat-label>
    <mat-divider></mat-divider>
    <mat-list-item>{{(isPostOrPut?'':'?q=')+ encryptedRequestAES }}</mat-list-item>
    <mat-label>Encrypted Request Base64 {{(isPostOrPut?'Body':'Url')}}</mat-label>
    <mat-divider></mat-divider>
    <mat-list-item>{{(isPostOrPut?'':'?q=')+ encryptedRequestBase64 }}</mat-list-item>

    <mat-divider class="blue" style="margin-bottom:2rem;"></mat-divider>
    <mat-label><h4>Response</h4></mat-label>

    <mat-label style="margin-top: 0.2rem;">Encrypted Response Base64</mat-label>
    <mat-divider></mat-divider>
    <mat-list-item>{{ encryptedResponseBase64 }}</mat-list-item>
    <mat-spinner *ngIf="showSpinner" diameter="30" style="margin-left: 50px;"></mat-spinner>

    <mat-label style="margin-top: 0.2rem;">Encrypted Response AES</mat-label>
    <mat-divider></mat-divider>
    <mat-list-item>{{ encryptedResponseAES }}</mat-list-item>
    <mat-spinner *ngIf="showSpinner" diameter="30" style="margin-left: 50px;"></mat-spinner>

    <mat-label style="margin-top: 0.2rem;">Response</mat-label>
    <mat-divider></mat-divider>
    <mat-list-item>{{ response }}</mat-list-item>
    <mat-spinner *ngIf="showSpinner" diameter="30" style="margin-left: 50px;"></mat-spinner>
  </mat-list>
</form>
